.anonim{
	h4{
		font-family: $global-font-family;
		font-weight: 400; 
		color: $grey-text;
	}
	.rule-hor{
		display: flex;				
		align-items: center;
		padding-bottom: 10px;
		flex-wrap: wrap;
		@include breakpoint(small){
				flex-wrap: nowrap;
		}
		.img{
			flex: 0 0 100%;	
			@include breakpoint(small){
				flex: 0 0 35%;
			}			
		}
		.text{
			text-align: center;
			@include breakpoint(small){
				text-align: left;
			}
			padding-left: 10px;
			font-size: 1.6 * $base;			
			line-height: 2; 
		}
		a{
			color: $green;
			text-decoration: underline;
		}
	}
}