.back1{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -10; 	
	display: block;     
    background-image: url(../img/44eee58a-nudm-crowd.jpg);   
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center 30%;    
    background-size: cover;
    &:after{
    	content:'';
    	position: absolute;
    	width: 100%;
		height: 100%;
    	background: rgba(90,90,90,0.85);
    }
}
.back2{
    @extend .back1;
    background-image: url(../img/51d12a84-nudm-for-parallax.jpg);  
}
.back3{
    @extend .back1;
    background-position: center bottom; 
}

.paralax{
    overflow:  hidden;
    position: relative;    
}