.data{	
	padding-top: 40px;
	padding-bottom: 40px;
	color: $grey-p;
	letter-spacing: 1px;
	h4{
		font-family: $global-font-family; 
		font-weight: 400; 
		color: $grey-text;
	}
	p{
		padding: 0 5%;
		line-height: 2; 
		font-size: 2.2 * $base; 
		@include breakpoint(small){
			padding: 0 75px;
		}		
	}
	p+p{
		padding: 0 15%;
		font-size: 1.6 * $base; 
		@include breakpoint(small){
			padding: 0 150px;
		}
	}
	a{
		color: $green;
		text-decoration: underline;
	}
}