.featured{	
	p{		
		font-size: 1.3 * $base; 	
		font-weight: 600;
		color: $grey-header;
	}
	.company{
		position: relative;  		
		display: flex;
	    justify-content: space-between;
	    align-items: center;
	    flex-wrap: wrap;
	    .img-company{	 	     	
	    	flex: 0 1 100%;
	    	@include breakpoint (small){
	    		flex: 0 1 50%;
	    	}
	    	@include breakpoint (medium){
	    		flex: 0 1 25%;
	    	}
	    	img{
	    		max-width: 200px;
	    	}
	    }
		&:after{
			content:'';
			position: absolute;			
			top: calc(100% + 50px);
			left: 50%;
			transform: translateX(-50%);
			background-color: $grey-text;			
			height: 1px;
			width: 300px;
		}
	}
}