.first{
	padding-top: 180px;
	padding-bottom: 70px;
	
	color: $white;
	h1{
    font-weight: 600;
		padding: 0;
		@include breakpoint(small){
			padding: 0 50px;
		}
		margin: 0 0 100px 0;		 
	}
	h3{
		padding: 0;
		@include breakpoint(small){
			padding: 0 80px;
		}		
		margin: 0 0 100px 0;		
	}	
}