.founded{
	padding-top: 30px;
	padding-bottom: 30px;
	color: $grey-founded;	
	.rule-gor{
		display: flex;	
		justify-content: space-between;	
		flex-wrap: wrap;
		@include breakpoint(medium){
			flex-wrap: nowrap;
		}								 				
	}
	.img-box{		
		flex: 0 1 100%;
		@include breakpoint(medium){
			flex: 0 1 46%;
		}
		display: flex;	
		justify-content: center;
		align-content: center;		
		flex-wrap: wrap; 
		line-height: 2;
		.img-wrapper{
			flex: 0 1 100%;
			display: flex;			
			justify-content: space-around;		
			@include breakpoint(medium){
				padding-top: 100px;	
			}					
		}
		img{
			border-radius: 50%;
			width: 90px;
			@media screen and (min-width: 450px){
				width: 100px;
			}					
		}
		p{
			margin-top: 0;
			font-size: 1.6 * $base; 
		}	
	}
	.text-box{
		flex: 0 1 100%;
		font-size: 1.6 * $base; 
		text-align: left;
		line-height: 1.5; 
		@include breakpoint(medium){
			flex: 0 1 52%;
		}	
		ul{
			padding-left: 20px;
		}	
	}
}