.saying{	
	p{			
		font-size: 1.3 * $base; 
		font-weight: 500; 	
		color: $grey-header;	
		i {
			font-size: 1.6 * $base;
		}
	}
	.people{
		display: flex;	
		align-items: flex-end;	
		p{
			font-size: 2 * $base;
			color: $grey-text;	
		}		
	}
	.people-item{
		flex: 0 0 100%;
		@include breakpoint(small){
			flex: 0 0 50%;
		}		
		.text{
			padding: 0 40px;			
		}
		.text_i{
			font-style: italic;
		}
		img{
			border-radius: 50%;
		}
	}
}