.second{		
	color: $white;	
	h2{		
		margin: 0 0 100px 0;		
		font-weight: 600;
	}	
	p{
		font-size: 2 * $base; 
		padding-left: 10px;				
		line-height: 1.5; 
	}
	.rule-hor{
		display: flex;
		align-items: center;
		padding-bottom: 30px;
		flex-wrap: wrap;
		@include breakpoint(small){
				flex-wrap: nowrap;
		}
		.img{
			flex: 0 0 100%;	
			@include breakpoint(small){
				flex: 0 0 auto;
			}
		}		
		.text{			
			flex: 0 1 auto;
			text-align: center;
			@include breakpoint(small){
				text-align: left;
				padding-left: 20px;
			}			
		}		
	}
}