.works{	
	//color: $grey-text;
	h4{			
		font-family: $global-font-family;
		font-weight: 400;  	
		color: $grey-text;		
	}
	h5{
		color: $violet;
		font-weight: 700;
	}
	p{
		line-height: 2; 
		color: $grey-text;
	}
	.rule{
		position: relative;  		
		display: flex;
	    justify-content: space-around;
	    align-items: center;
	    flex-wrap: wrap;
	    .rule-vert{	 	     	
	    	flex: 0 0 100%;
	    	max-width: 270px;
	    	@include breakpoint (small){
	    		flex: 0 0 auto;
	    	}	    		    	
	    }
		&:after{
			content:'';
			position: absolute;			
			top: calc(100% + 50px);
			left: 50%;
			transform: translateX(-50%);
			background-color: $grey-text;			
			height: 1px;
			width: 300px;
		}
	}
}