$id: button;


$button-font-family: $secondary-font-family;
$button-font-color: $white;
$button-font-size: 2.6 * $base;
$button-font-size-little: 1.4 * $base;
.#{$id} {		
	
	//min-width: 120px;	
	padding: 14px 20px;	
	font-size: $button-font-size;		  		
	color: $button-font-color;
	font-family: $button-font-family; 
	font-weight: bold; 
	white-space: nowrap;
	cursor: pointer;	
	border: none;	
	border-radius: 3px;
}

.#{$id}-violet {	
	background-color: $violet;	
	&:hover{
		background-color: darken($violet,20%);		
		transition: all 0.5s;
	}	
	border-bottom: 5px solid darken($violet,20%);
}

.#{$id}-round {	
	border-radius: 10px;
}

.#{$id}-little {	
	@extend .#{$id};
	//min-width: 100px;	
	font-size: $button-font-size-little;	
	padding: 5px 5px;	  			
}
