/*=========================================================
///////////////////////////////////////////////////////////
  FONTS
///////////////////////////////////////////////////////////
=========================================================*/
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Montserrat'),
       url('../fonts/PT_Sans-Web-Bold.ttf') format('truetype'); 
}
///////////////////////////////////////////////////////////




