.wrapper{        
    //for full wide screen
    width: 100vw;    
    //for max static wide 320px  uncomment next
    //max-width: 320px;
    @include breakpoint(small){             
      //for max static wide 600px  uncomment next
      //max-width: 600px;
    }
    @include breakpoint(medium){ 
      //for max static wide 900px  uncomment next
      //max-width: 900px;
    }
    @include breakpoint(large){
      //for max static wide 1200px  uncomment next
      //max-width: 1200px;
    }
    background-color: $white;       
    
    &.wrapper-grey{
      background-color: $grey; 
    }
    &.wrapper-warm-grey{
      background-color: $warm-grey; 
    }
    &.wrapper-transparent{
      background-color: transparent; 
    }
}
.limiter{
  margin: 0 auto; 
  padding: 50px 15px 50px 15px; 
  width: 100vw;  
  @include breakpoint(medium){
    width: 840px;
  }
  @include breakpoint(large){
    width: 940px;
  }
}
.uppercase{
  text-transform: uppercase;
}
.text-center{
  text-align: center !important;
}
.hide-for-xsmall{
  @include breakpoint(xsmall-only){
    display: none !important;
  }
}
.visible-for-xsmall{
  @include breakpoint(xsmall-only){
    display: block !important;
  }
}
.z-index10{
  z-index: 10;
}
.pos-fixed{
  position: fixed;
}



/*=========================================================
  02. #PADDING & MARGIN
=========================================================*/

// HOW TO USE, helper classe margin, padding
// pd = padding, mg = margin, -b,-t,-l,r = bottom,top,left,right
// pd-b-5..10..15..20..25..30..35..40..45..50
// pd-t-10
// pd-l-10
// pd-r-10
// +
// mg-b-10
// mg-t-10
// mg-l-10
// mg-r-10

$right-space-vars: (5 right r, 10 right r, 15 right r, 20 right r, 25 right r, 30 right r, 35 right r, 40 right r, 45 right r, 50 right r);
$bottom-space-vars: (0 bottom b, 5 bottom b, 10 bottom b, 15 bottom b, 20 bottom b, 25 bottom b, 30 bottom b, 35 bottom b, 40 bottom b, 45 bottom b, 50 bottom b);
$top-space-vars: (5 top t, 10 top t, 15 top t, 20 top t, 25 top t, 30 top t, 35 top t, 40 top t, 45 top t, 50 top t);
@mixin generate-margin-classes( $default-space-amounts-with-direction: (5 left l, 10 left l, 15 left l, 20 left l, 25 left l, 30 left l, 35 left l, 40 left l, 45 left l, 50 left l)) {
  @each $space in $default-space-amounts-with-direction {
    .mg-#{nth($space, 3)}-#{nth($space, 1)} {
      margin-#{nth($space, 2)}: #{nth($space, 1)}px;
    }
  }
}


@mixin generate-padding-classes( $default-space-amounts-with-direction: (5 left l, 10 left l, 15 left l, 20 left l, 25 left l, 30 left l, 35 left l, 40 left l, 45 left l, 50 left l)) {
  @each $space in $default-space-amounts-with-direction {
    .pd-#{nth($space, 3)}-#{nth($space, 1)} {
      padding-#{nth($space, 2)}: #{nth($space, 1)}px;
    }
  }
}

@include generate-margin-classes();
@include generate-margin-classes($right-space-vars);
@include generate-margin-classes($bottom-space-vars);
@include generate-margin-classes($top-space-vars);
@include generate-padding-classes();
@include generate-padding-classes($right-space-vars);
@include generate-padding-classes($bottom-space-vars);
@include generate-padding-classes($top-space-vars);