/*=========================================================
///////////////////////////////////////////////////////////
  COLORS
///////////////////////////////////////////////////////////
=========================================================*/
$black: 					#000000;
$white: 					#ffffff;  //wrapper
$violet:				    #6D3499;  //button
$grey:						#E8E8E8;  //wrapper
$warm-grey:                 #6A737B;  //header footer
$grey-header: 		     	#c1c1c1;  //header
$grey-text: 				#4F4F4F;  //text
$green:                     #4CB5A6;  // a
$grey-p:                    #666;     // p  data
$grey-founded:				#696969;  // founded

/*=========================================================
///////////////////////////////////////////////////////////
  FONTS
///////////////////////////////////////////////////////////
=========================================================*/
$base: 10px;
$global-font-family: 'Open Sans';
$secondary-font-family: 'PT Sans';
$global-font-size: 1.4 * $base;
$scale-font-for-xsmall: 1;
/*=========================================================
///////////////////////////////////////////////////////////
  HEADING
///////////////////////////////////////////////////////////
=========================================================*/
$map-heading-size: ( 	
			h1: 5.5 * $base,  //ok
			h2: 4.8 * $base,  //ok
			h3: 3.6 * $base,  //ok
			h4: 2.8 * $base,  //ok
			h5: 2.0 * $base,  //ok			
			h6: 1.6 * $base,  //ok			
		);
		
$scale-heading-for-xsmall: 0.8;
$scale-heading-for-small: 1;
$scale-heading-for-medium: 1;

