///////////////////////////////////////////////////////////////////
@import "normalize";
/*========================================================
Global Styles
========================================================*/
@import "fonts";
@import "variables";
@import "breakpoints";
@import "heading";
@import "helpers";
@import "button";
//////////////////////////////////////////////////////////////////
html {
  box-sizing: border-box; 
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {        
}


/*=========================================================
///////////////////////////////////////////////////////////
  Including PARTS
///////////////////////////////////////////////////////////
=========================================================*/
.landing{
  max-width: 100vw;    
  overflow-x:hidden; 
  position: relative;
  font-family: $global-font-family;     
  font-size: $global-font-size;     
  a{        
      text-decoration: none;
      color: $white;
  }      
  @import "parts/first";
  @import "parts/featured";
  @import "parts/saying";
  @import "parts/minutes";
  @import "parts/works";
  @import "parts/anonim";
  @import "parts/second";
  @import "parts/data";
  @import "parts/founded";
  @import "parts/third";
  @import "parts/back_fon";
}
